{% extends 'index.html' %}

{% block content %}
<form method="POST" action="boss-early-ub" onsubmit="return submitForm(this);">
    <div class="mb-3">
      <label for="tp_boost" class="form-label">Boss TP Boost :</label>
      <input type="number" class="form-control" name="tp_boost" id="tp_boost" value="70">
    </div>
    <div class="mb-3">
      <label for="hp_max" class="form-label">Boss HP Max. :</label>
      <input type="number" class="form-control" name="hp_max" id="hp_max" value="1900">
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>

{% endblock %}